<div class="container container_edit">
<h2 class="user-edit-title">Edit profile: <%= resource.first_name.capitalize %></h2>


  <div class="form-inputs">
    <div class="upper-part">
      <div class="left-content">
       <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
       <%= f.error_notification %>

       <%= f.input :email, required: true, autofocus: true %>

       <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
       <% end %>

        <%= f.input :first_name,
                     required: true,
                     autofocus: true,
                     input_html: { autocomplete: "first_name" }%>
        <%= f.input :last_name,
                     required: true,
                     autofocus: true,
                     input_html: { autocomplete: "last_name" }%>
        <%= f.input :dob, label: "Date of Birth", as: :string, input_html: { class: "dobpicker" } %>
      </div>

      <div class="right-content">
        <div class="image_wrapper">
          <%#= raise %>
         <% if current_user.avatar.attachment != nil %>
         <img id="img_prev" width=300 height=300 src="<%= cl_image_path current_user.avatar.key %>" alt="your image" class="img-thumbnail hidden"/> <br/>
          <span class="btn btn-default btn-file">
            <%= f.input :avatar, as: :file,id:"user_avatar", label: "Click to choose your picture" %>
          </span>
          <% else %>
          <img id="img_prev" width=300 height=300 src="https://res.cloudinary.com/woddi/image/upload/v1582062076/JR4pCEKhy9qib4KzzHxAWpvr.png" alt="your image" class="img-thumbnail hidden"/> <br/>
          <span class="btn btn-default btn-file">
            <%= f.input :avatar, as: :file,id:"user_avatar2",label: false  %>
          </span>
          <% end %>

        </div>
      </div>
    </div>
    <div class="lower-part">
    <%#= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new_password" } %>
    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new_password" } %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current_password" } %>
    </div>
  <div class="form-actions">
    <%= link_to boxes_path, method: :get do %>
    <%= f.button :submit, "Update", class: "btn btn-success" %>
    <% end %>

  </div>
  <% end %>
  <div>
<p id="unhappy">Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>
</div>




