<div class="col-sm-12 col-lg-6">
    <% if booking.status == "Active" && booking.paid? %>
      <% @border = 'border-green' %>
    <% elsif booking.status == "Active" %>
      <% @border = 'border-red' %>
    <% else %>
      <%= @border = '' %>
    <% end %>
    <div class="card-mybooking <%= @border %>">
      <div class="booking-img">
        <%= cl_image_tag booking.box.photos.first.key, crop: :fill %>
      </div>
      <div class="card-mybooking-infos">
        <%= link_to box_path(booking.box), class: "text-decoration-none" do %>
          <h2><%= booking.box.name[0..20] %></h2>
          <p><%= booking.box_lesson.title %></p>
          <div class="time-and-status">
            <p><%= booking.box_lesson.start_date_time.strftime('%d/%m/%y') %> <%= booking.box_lesson.start_date_time.strftime('%H:%M') %> </p>
            <% if booking.status == "Active" && booking.paid? %>
              <p class="text-success"><strong>Paid</strong></p>
            <% elsif booking.status == "Active" %>
              <p class="text-danger"><strong>Pending</strong></p>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="btn-box">
        <% if booking.status == "Active" %>
         <%= link_to "", cancelled_path(booking: booking), class: "far fa-times-circle close-btn" %>
        <% end %>
        <% if booking.status == "Checked-in" %>
          <div type="button" class="create-review" data-booking-id="<%= booking.id %>" data-box-name="<%= booking.box.name %>">
              <i class="far fa-edit"></i>
          </div>
        <% end %>
      </div>
    </div>
</div>


