<div class="col-sm-12 col-lg-6">
  <%= link_to box_path(booking.box), class: "text-decoration-none" do %>
    <div class="card-mybooking">
      <%= image_tag booking.box.photos.first %>
      <div class="card-mybooking-infos">
        <div class="text-mybooking-infos">
          <h2><%= booking.box.name[0..20] %></h2>
          <p><%= booking.box.address %></p>
          <p>Workout Chosen: <%= booking.box_lesson.title %></p>
          <p><%= booking.box_lesson.start_date_time.strftime('%d/%m/%y') %> <%= booking.box_lesson.start_date_time.strftime('%H:%M') %> </p>
        </div>
        <div class="btn-box">
        <% if booking.status == "Active" %>
         <%= link_to "", cancelled_path(booking: booking), class: "far fa-times-circle close-btn"%>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
          </button>
        <% end %>
      </div>
        <!-- <div class="card-mybooking-rating">
          <%= booking.box.avg_review %> <i class="fas fa-star"></i>
        </div> -->
      </div>
    </div>
    <% end %>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">How would you rate your experience with <%= booking.box.name %>?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for([booking, @review]) do |f| %>
          <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: { class: 'review-rating' } %>
          <%= f.input :description, class: "review-write" %>
          <%= f.submit :Submit, class: "btn btn-woddi-sm" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
