<%= link_to box_path(box) do %>
<div class="card-map">

  <div class="card-map-infos">
    <% if box.photos.any? %>
      <%= cl_image_tag box.photos.first.key %>
    <% end %>

    <div class="card-map-text">
      <h2><%= box.name[0..20] %></h2>
      <p><%= box.address %></p>
    </div>

    <div class="card-map-rating">
        <%= box.avg_review %>
        <i class="fas fa-star "></i>
    </div>
  </div>
</div>
<% end %>