<div class="container">
  <div class="box-page-container">
    <div class="box-header">
      <h1 title="<%= @box.name %>"><%= @box.name[0..21] %></h1>
      <%= link_to "BOOK", box_box_lessons_path(@box), class: "btn-book" %>
    </div>
      <div class="box-photos">

              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <% @box.photos.each_with_index do |photo, index| %>
                  <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>"></li>
                  <% end %>
                </ol>
                <div class="carousel-inner">
                  <% @box.photos.each_with_index do |photo, index| %>
                  <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                    <img class="d-block w-100" src="<%= cl_image_path photo.key, height: 300, width: 400, crop: :fill %>" alt="First slide">
                  </div>
                  <% end %>

                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>

          </div>
        </div>

        <div class="reviews-info">
          <div class="title-review-average">
            <p class="reviews-title"><strong>Reviews</strong></p>
            <span class="number-of-reviews pt-1"><%= @box.avg_review %><i class="fas fa-star pt-1"></i> (<%= @box_reviews_count %> votes)</span>
          </div>
            <div class="container reviews-container">
                <div class="row">
                  <% @reviews.each do |review| %>
                    <%= render "card_box_review", review: review %>
                  <% end %>
                </div>
                <!-- <div class="card-product-infos">

          <h2>Product name</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
  </div> -->

            </div>
        </div>
        <hr>
  </div>
</div>
