
  <nav id="bottom-nav">
    <div class="container">
      <ul id="bottom-list" class="flex-container">
        <li>
          <%= link_to boxes_path do %>
            <i class="fas fa-list-ul fa-lg"></i>
          <% end %>
        </li>
        <li>
          <%= link_to map_path do %>
            <i class="fas fa-map-marker-alt fa-lg"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="far fa-calendar-alt fa-lg"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="far fa-user fa-lg"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fas fa-cog fa-lg"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>


