
  <nav id="bottom-nav">
    <div class="container">
      <ul id="bottom-list" class="flex-container">
        <li class="<%= controller_name == "boxes" && action_name == "index" ? ' active' : '' %>" >
          <%= link_to boxes_path do %>
            <i class="fas fa-list-ul fa-lg"></i>
          <% end %>
        </li>
        <li class="<%= controller_name == "boxes" && action_name == "map" ? ' active' : '' %>" >
          <%= link_to map_path do %>
            <i class="fas fa-map-marker-alt fa-lg"></i>
          <% end %>
        </li>
        <li class="<%= controller_name == "bookings" && action_name == "index" ? ' active' : '' %>" >
          <%= link_to bookings_path do %>
            <i class="far fa-calendar-alt fa-lg"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="far fa-user fa-lg"></i>
          <% end %>
        </li>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        X</button>
      </ul>
    </div>
  </nav>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>

      </div>
    </div>
  </div>
</div>
