<% if user_signed_in? %>
  <nav id="bottom-nav">
    <div class="container">
      <ul id="bottom-list" class="flex-container">
        <li>
          <%= link_to "#" do %>
            <i class="fas fa-list-ul"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fas fa-map-marker-alt"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="far fa-calendar-alt"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="far fa-user"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fas fa-cog"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
<% end %>

