
  <nav id="bottom-nav">
    <div class="container">
      <ul id="bottom-list" class="flex-container">
        <li class="<%= controller_name == "boxes" && action_name == "index" ? ' active' : '' %>" >
          <%= link_to boxes_path do %>
            <i class="fas fa-list-ul fa-lg"></i>

          <% end %>
        </li>
        <li class="<%= controller_name == "boxes" && action_name == "map" ? ' active' : '' %>" id="boxesmap_p">
          <%= link_to map_path do %>
            <i class="fas fa-map-marker-alt fa-lg"></i>

          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="far fa-calendar-alt fa-lg"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="far fa-user fa-lg"></i>
          <% end %>
        </li>

      </ul>
    </div>
  </nav>


